<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CinemaApi" connectionString="data source=.\SQLEXPRESS02;initial catalog=CinemaApi;persist security info=True;user id=rails;password=rails" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>