<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CinemaApi" connectionString="data source=CHANGE ME;initial catalog=CinemaApi;persist security info=True;user id=CHANGE ME;password=CHANGE ME" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>